<!DOCTYPE html>
<html>

<%- include head.ejs %>

<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <%- include header.ejs %>

    <%- include menu.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    </div>
    <!-- /.content-wrapper -->

    <%- include footer.ejs %>

</div>
<!-- ./wrapper -->

<%- include foot_scipt.ejs %>
</body>
</html>