<!DOCTYPE html>
<html>

<%- include head.ejs %>

<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <%- include header.ejs %>

    <%- include menu.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    </div>
    <!-- /.content-wrapper -->
    <%- include footer.ejs %>
    <script>
        $(function () {
            $("#menuImg").attr('src','<%=user.head %>');
            $("#headerImg").attr('src','<%=user.head %>');
            $("#onlineAdmin").html('<%=user.username %>');
        });
    </script>
</div>
<!-- ./wrapper -->

<%- include foot_scipt.ejs %>
</body>
</html>